
#h {
    box-sizing: border-box;
    background-color: #fff;
    border-bottom: 2px solid #bbb;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

#query {
    box-sizing: border-box;
    background-color: #fff;
    border: none;
    border-bottom: 2px solid #bbb;
    height: 3em;
    margin-left: 2em;
    margin-bottom: -2px;
    outline: none;
    padding: 0.5em 1em;
    width: 39em;
    -webkit-transition: border-color 0.1s ease;
}

#query:focus {
    border-color: #38f;
}
